/* header-styles.css */
.toggle {
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    height: 38px;
    box-sizing: border-box;
    z-index: 1000;
}

.toggle button {
    padding: 9px 10px;
    background-color: transparent;
    border: none;
}

.toggle button:hover {
    cursor: pointer;
}

.toggle svg path {
    fill: white;
}

.toggle button:hover svg path {
    fill: #ff6f61;
}

nav {
    text-align: left;
    position: fixed;
    top: 38px;
    width: 100%;
    background-color: #000;
    display: none;
    padding: 0px 0px 10px 0px;
    border-top: 1px solid #333;
    z-index: 1000;
}

nav a {
    padding: 0px 10px;
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 14px;
    text-decoration: none;
    line-height: 38px;
}

nav a:hover {
    color: #ff6f61;
    background-color: #222;
}

nav.showNav {
    display: block;
}

@media only screen and (min-width: 920px) {
    .toggle {
        display: none;
    }

    nav {
        display: block;
        top: 0px;
        padding: 0px;
        border: none;
        text-align: center;
    }

    nav a {
        width: auto;
        padding: 0px 20px;
    }
}