* {box-sizing:border-box}

/* styles.css */
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    height: 150px;
    line-height: 150px;
}

section {
    padding: 50px 10px;
    box-sizing: border-box;
    scroll-margin-top: 100px; /* Adjust this value based on the height of your header */
}

div.wrapper {
    margin: 0px auto;
    display: flex;
    max-width: 1200px;
    flex-direction: column;
}

